<!DOCTYPE html>
  <html ng-app="judgeApp">

   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>Code</title>
      <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
      <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet">
      <link href="css/style.css" type="text/css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>
      <script src="js/jquery.min.js"></script>
      <script src="js/materialize.min.js"></script>
      <script src="js/modernizr.js"></script>
      <script src="js/init.js"></script>
      <script src="js/angular.js"></script>
      <script type="text/javascript" src="js/angular-base64-upload.min.js"></script>
      <script src="js/Chart.min.js"></script>
      <script src="js/angular-chart.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controller.js"></script>
      <script src="js/pagelink.js"></script>
    </head>

    <body id="top" class="scrollspy" ng-controller="Controller">

      <!-- Pre Loader -->
      <div id="loader-wrapper">
          <div id="loader"></div>

          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>

      </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <div class="navbar-fixed">
        <nav class="blue lighten-2" role="navigation">
          <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Code Sharing</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#">Navbar Link1</a></li>
              <li><a href="#">Source</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
              <li><a href="#">Navbar Link1</a></li>
              <li><a href="#">Source</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          </div>
        </nav>
      </div>


      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center" style="padding-top:8vh;">
              <h1 class="header center teal-text text-lighten-1" style="text-shadow: 3px 3px 1px #999999;">Code Sharing Studio</h1>
              <!--Hero-->
              <div class="section " id="index-banner">
                  <div class="container">
                      <h1 class="text_h center header cd-headline letters type">
                          <span>We</span>
                          <span class="cd-words-wrapper waiting">
                              <b class="is-visible">help your programming study</b>
                              <b>can share our code</b>
                              <b>can share our feelings</b>
                          </span>
                      </h1>
                  </div>


              </div>
              <!-- <a href="#main"><button class="btn-large waves-effect waves-light" type="submit" name="action">get started
                <i class="material-icons right">star</i>
              </button> -->
              </a>
              <!-- <> -->
              <!-- <div class="col s8 offset-s2">
              <div class="input-field center">
                <form class="url-bar">
                    <input type="text" placeholder="" id="room-name" class="validate">
                    <label for="room-name">Enter your key</label>
                    <input type="submit" class="bottom waves-effect waves-light teal lighten-1" value="Enter">
                </form>
            </div>
            </div> -->



              <!-- <> -->

            </div>
          </div>
        </div>
        <div class="parallax"><img src="back5.jpg" alt="Unsplashed background img 1"></div>
      </div>

      <div class="container">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s2">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">web</i></h2>
              <h5 class="center">Share Coding</h5>
              <!-- <p class="light">
                You can share your source codes, edit and also run them immediately.
              </p> -->
            </div>
          </div>

            <div class="input-field col s4 offset-s2">
              <div class="row center">
              <input ng-model="rootCtrl.roomNumber" type="text" class="validate" id="key">
              <label for="key" class="typing">Enter your key</label>
              <button id="download-button" class="btn-large z-depth-4">enter</button>
            </div>
            </div>

          <div class="col s2 offset-s1">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>

              <h5 class="center">Share feelings</h5>

              <!-- <p class="light">The video chat by WebRTC will help your programming education. </p> -->
            </div>
          </div>

        </div>

      </div>  <!--container-->

      <footer class="page-footer ">

          <small>Made by <a class="brown-text text-lighten-3" href="#">Hi Hi</a></small>

      </footer>

    </body>
  </html>
