<center style="width:100vw;height:100vh;" class="menu">
	<div class="setting">
		<h2>enter your room number</h2>
		<form>
		  <div class="mdl-textfield mdl-js-textfield">
		    <input class="mdl-textfield__input" type="text" id="detail" ng-model="indexCtrl.roomName">
		  </div>
		</form>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ui-sref="index.teacher">
		  as a teacher
		</button>
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ui-sref="index.student">
		  as a student
		</button>
	</div>
</center>