<div class="preloader"></div>
<main id="top" class="mainBack" role="main" style="height : 100vh;">

	<div class="container" style="height : 100vh;">
		<div class="logo"></div>

		<h2>Let's start <i><strong>programming!</strong></i></h2>
		<h4>Create a room for <strong>video chat</strong> room and invite your friends.</h4>
		<div class="init">
			<div class="row">
				<form class="formstyle">
						<div class="col s7">
							<input type="text" placeholder="{{rootCtrl.placeholder}}"
							data-validate="validate(required, text)" required="required" ng-model="rootCtrl.roomName">
						</div>
						<div class="col s5">
							<button ng-click="rootCtrl.clear()" ui-sref="root.room({roomKey: rootCtrl.roomName})" class="btn-large waves-effect waves-light">enter
							</button>
						</div>
				</form>
			</div>
		</div>
	</div><!--/container -->
</main><!--/main -->
