<div class="container">
	<div class="row">
		<div class="col s8">
			<h1 class="alert alert-info">Room : {{roomCtrl.roomName}}</h1>
			<h4>Select file</h4>
			<button class="mdl-button mdl-js-button mdl-button--raised">
			<input type="file" on-read-file="roomCtrl.showContent($fileContent)" />
			</button>
			<button ng-click="roomCtrl.new()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			create new file
			</button>
			<div>
					<h2>editor</h2>
					<textarea ui-codemirror ui-codemirror-opts="roomCtrl.editorOptions" ng-model="roomCtrl.content" ng-change="roomCtrl.change()"></textarea>
			</div>
		</div>
		<div class="col s4">
			<!-- Audio and Video area -->
			<div id="their-audios"></div>
		</div>
	</div>
</div>