<div class="container">
	<div class="row">
		<div class="col s8">
			<div class="caption center-align">
				<div class="card-panel">
					<h3 class="blue-text text-darken-2">{{roomCtrl.roomName}}</h3>
					<h5 class="light grey-text text-lighten-3">(参加者現在{{roomCtrl.roomMember}}名)</h5>
				</div>
	        </div>

			<form class="row">

				<div class="col s3 file-field input-field">
					<div class="waves-effect waves-light btn">
						<span>Load</span>
						<input type="file">
					</div>
					<div class="file-path-wrapper">
						<input type="file" on-read-file="roomCtrl.showContent($fileContent)"/>
					</div>
				</div>

				<div class="col s3 file-field input-field">
					<div class="waves-effect waves-light btn" ng-click="roomCtrl.clear()">Clear</div>
				</div>

			</form>


			<div class="row">

				<div class="col s6 input-field">
					<label>Language Select</label><br><br>
					<select class="browser-default" ng-change="roomCtrl.settingChange()" ng-model="roomCtrl.mode" ng-options="mode as mode.lang for mode in roomCtrl.modes"></select>
				</div>

				<div class="col s6 input-field">
					<label>Theme Select</label><br><br>
					<select class="browser-default" ng-change="roomCtrl.settingChange()" ng-model="roomCtrl.theme" ng-options="theme for theme in roomCtrl.themes"></select>
				</div>

			</div>

		    <div class="row">
				<label>
					<input ng-model="roomCtrl.code.name"/>
				</label>
				<textarea id="editor" ui-codemirror="{ onLoad : roomCtrl.codemirrorLoaded }" ui-codemirror-opts="roomCtrl.editorOptions" ng-model="roomCtrl.code.content" ng-change="roomCtrl.input()"></textarea>
			</div>

			<div class="row">
				<div class="file-field input-field">
					<div class="waves-effect waves-light btn" ng-click="roomCtrl.run('js',roomCtrl.code.content)">run</div>
				</div>
				<div class="file-field input-field">
					<div class="waves-effect waves-light btn" ng-click="roomCtrl.save(roomCtrl.code.content)">save</div>
				</div>
				<div class="file-field input-field">
					<div class="waves-effect waves-light btn"ng-click="roomCtrl.getCursor()">getCursor</div>
				</div>
				<div class="file-field input-field">
					<div class="waves-effect waves-light btn" ng-click="roomCtrl.test()">test</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col s12 card-panel teal lighten-3" ng-show="roomCtrl.result">
					<h3 ng-show="roomCtrl.result.is_error" class="red-text text-darken-3">Error</h3>
					<h3 ng-hide="roomCtrl.result.is_error" class="blue-text text-darken-3">Success</h3>
					<pre>{{roomCtrl.result.output}}</pre>
				</div>
			</div>
		</div>

		<div class="col s4">
			<!-- Audio and Video area -->
			<div class="videos" style="position: fixed; top : 0px; width: 100%; height: 100vh;"></div>
		</div>
	</div>
</div>