<div class="container">
	<h1 class="alert alert-info">Room : {{teacherCtrl.roomName}}</h1>
	<h4>Select file</h4>
	<button class="mdl-button mdl-js-button mdl-button--raised">
	<input type="file" on-read-file="teacherCtrl.showContent($fileContent)" />
	</button>
	<button ng-click="teacherCtrl.new()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
	create new file
	</button>
	<div ng-if="teacherCtrl.content">
	    <h2>editor</h2>
	    <textarea ng-model="teacherCtrl.content" ng-change="teacherCtrl.change()"></textarea>
	</div>
	<hr>
	<!-- Audio area -->
	<div id="their-audios"></div>
</div>